@font-face {
  font-family: $font-family;
  src: url($fonts-path+$font-family+"-Regular.otf");
}

@font-face {
  font-family: $font-family-bold;
  src: url($fonts-path+$font-family+"-Bold.otf");
}

@font-face {
  font-family: $font-family-black;
  src: url($fonts-path+$font-family+"-Black.ttf");
}

@font-face {
  font-family: $font-family-heavy;
  src: url($fonts-path+$font-family+"-Heavy.otf");
}

@font-face {
  font-family: $font-poppins-black;
  src: url($fonts-path+$font-poppins+"-Black.otf");
}

@font-face {
  font-family: $font-poppins-bold;
  src: url($fonts-path+$font-poppins+"-Bold.otf");
}

@font-face {
  font-family: $font-poppins-medium;
  src: url($fonts-path+$font-poppins+"-Medium.otf");
}

@font-face {
  font-family: $font-poppins-regular;
  src: url($fonts-path+$font-poppins+"-Regular.otf");
}

@font-face {
  font-family: $font-poppins-semibold;
  src: url($fonts-path+$font-poppins+"-SemiBold.otf");
}


@font-face {
  font-family: $font-poppins-ExtraLight;
  src: url($fonts-path+$font-poppins+"-ExtraLight.ttf");
}

@font-face {
  font-family: $font-poppins-Light;
  src: url($fonts-path+$font-poppins+"-Light.ttf");
}

@font-face {
  font-family: $font-poppins-MediumTwo;
  src: url($fonts-path+$font-poppins+"-Medium.ttf");
}



.font-bold {
  font-family: $font-family-bold !important;
}

.font-black {
  font-family: $font-family-black !important;
}

.font-heavy {
  font-family: $font-family-heavy !important;
}

.poppins-medium {
  font-family: 'Poppins Medium' !important;
}

.poppins-bold {
  font-family: 'Poppins Bold' !important;
}

.poppins-black {
  font-family: 'Poppins Black' !important;
}

.poppins-regular {
  font-family: 'Poppins Regular' !important;
}

.poppins-semibold {
  font-family: 'Poppins Semi Bold' !important;
}

.font-size {
  &-sm {
    font-size: 0.9rem !important;
  }
  &-md {
    font-size: 1.3rem !important;
  }
  &-lg {
    font-size: 1.5rem !important;
  }
  &-xlg {
    font-size: 2rem !important;
  }
}

.font-code {
  font-size: 1.4rem !important;
}

.lg-1 {
  line-height: 1;
}

.border-orange {
  border-color: $orange !important;
}
