// Variables

$grayAdmin: #edeef0;
$blue: #3a7fc2;
$black: #222d32;
$black-light: #606060;
$black-medium: #1b1819;
$white: #fff;
$input: #f1f1f1;
$active: #0d1214;
$danger: #e53935;
$green: #36c658;
$gray-two: #d6d7db;
$black-real: #000;
$light-black: #282828;
$medium-black: #1a1a1a;

$gray-menu: #242323;
$gray-light: #edeef0;

$secondary: #3c3c3c;
$sidear-color: $gray-menu;

$icons-path: "../../img/icons/";
$orange: #ffe44f;

$fonts-path: "../../fonts/";

$font-family: "Vision";
$font-family-bold: "Vision Bold";
$font-family-black: "Vision Black";
$font-family-heavy: "Vision Heady";

$font-poppins: "Poppins";
$font-poppins-black: "Poppins Black";
$font-poppins-bold: "Poppins Bold";
$font-poppins-medium: "Poppins Medium";
$font-poppins-regular: "Poppins Regular";
$font-poppins-semibold: "Poppins Semi Bold";

$font-poppins-ExtraLight: "Poppins ExtraLight";
$font-poppins-Light: "Poppins Light";
$font-poppins-MediumTwo: "Poppins MediumTwo";

$background: #282828;
$gray: #484848;
$yellow: #ffe44f;
$footer: #1a1a1a;
