.backgroundAccordion {
  width: 100%;
  position: absolute;
  background-size: cover;
  overflow: hidden;
  text-align: center;

  //transition: all 0.5s;
}

#preload {
  display: none;
}

.accordian {
  border: 2px;
  height: 40vw;
  overflow: hidden;

  ul {
    width: 100%;

    li {

      h2 {
        margin-top: 18vw;
        font-size: 1.6vw;
        background: #282828c7;
      }
      p {
        font-size: 1.2vw !important;
      }

      &.item1Accordion {
        h2 {
          color: white !important;
          transition: all 0.5s;
        }

        p {
          opacity: 0;
          font-size: 1vw;
          line-height: 1.8;
        }

        &:hover {
          width: 22.8%;
          background-color: rgba($yellow, 0.5) !important;

          h2 {
            color: black !important;
            transition: all 0.5s;
          }

          p {
            opacity: 1;
          }
        }
      }

      &.item2Accordion {
        h2 {
          color: white !important;
          transition: all 0.5s;
        }

        p {
          opacity: 0;
          font-size: 1vw;
          line-height: 1.8;
        }

        &:hover {
          width: 22.8%;
          background-color: rgba($yellow, 0.5) !important;

          h2 {
            color: black !important;
            transition: all 0.5s;
          }

          p {
            opacity: 1;
          }
        }
      }

      &.item3Accordion {
        h2 {
          color: white !important;
          transition: all 0.5s;
        }

        p {
          opacity: 0;
          font-size: 1vw;
          line-height: 1.8;
        }

        &:hover {
          width: 22.8%;
          background-color: rgba($yellow, 0.5) !important;

          h2 {
            color: black !important;
            transition: all 0.5s;
          }

          p {
            opacity: 1;
          }
        }
      }

      &.item4Accordion {
        h2 {
          color: white !important;
          transition: all 0.5s;
        }

        p {
          opacity: 0;
          font-size: 1vw;
          line-height: 1.8;
        }

        &:hover {
          width: 22.8%;
          background-color: rgba($yellow, 0.5) !important;

          h2 {
            color: black !important;
            transition: all 0.5s;
          }

          p {
            opacity: 1;
          }
        }
      }

      &.item5Accordion {
        h2 {
          color: white !important;
          transition: all 0.5s;
        }

        p {
          opacity: 0;
          font-size: 1vw;
          line-height: 1.8;
        }

        &:hover {
          width: 22.8%;
          background-color: rgba($yellow, 0.5) !important;

          h2 {
            color: black !important;
            transition: all 0.5s;
          }

          p {
            opacity: 1;
          }
        }
      }

      &.item6Accordion {
        h2 {
          color: white !important;
          transition: all 0.5s;
        }

        p {
          opacity: 0;
          font-size: 1vw;
          line-height: 1.8;
        }

        &:hover {
          width: 22.8%;
          background-color: rgba($yellow, 0.5) !important;

          h2 {
            color: yellow !important;
            transition: all 0.5s;
          }

          p {
            opacity: 1;
          }
        }
      }
    }

    &:hover li {
      width: 15.38%;

      h2 {
        margin-top: 40%;
      }
    }
  }

  li {
    position: relative;
    display: block;
    width: 16.63%;
    float: left;
    height: 40vw;
    border: 1px solid white;
    padding: 0 8px !important;
    //transition: all 0.5s;
  }
}

@media (max-width: 575px) {
  .accordian {
    margin-bottom: 12vw;
    ul {
      &:hover li {
        width: 100%;
        height: 7.5vw;

        h2 {
          margin-top: 2vw;
        }
      }

      width: 100%;
      li {
        h2 {
          margin-top: 2.8vw;
          margin-bottom: 1vw !important;
          font-size: 2.8vw;
        }
        p {
          font-size: 2vw !important;
        }

        &.item1Accordion {
          h2 {
            color: white !important;
            transition: all 0.5s;
          }

          p {
            opacity: 0;
            font-size: 1vw;
            line-height: 1.5;
          }

          &:hover {
            width: 100%;
            height: 16vw;
            background-color: rgba($yellow, 0.5) !important;

            h2 {
              color: black !important;
              transition: all 0.5s;
              margin-top: 1vw;
            }

            p {
              opacity: 1;
            }
          }
        }

        &.item2Accordion {
          h2 {
            color: white !important;
            transition: all 0.5s;
          }

          p {
            opacity: 0;
            font-size: 1vw;
            line-height: 1.5;
          }

          &:hover {
            width: 100%;
            height: 16vw;
            background-color: rgba($yellow, 0.5) !important;

            h2 {
              color: black !important;
              transition: all 0.5s;
              margin-top: 1vw;
            }

            p {
              opacity: 1;
            }
          }
        }

        &.item3Accordion {
          h2 {
            color: white !important;
            transition: all 0.5s;
          }

          p {
            opacity: 0;
            font-size: 1vw;
            line-height: 1.5;
          }

          &:hover {
            width: 100%;
            height: 16vw;
            background-color: rgba($yellow, 0.5) !important;

            h2 {
              color: black !important;
              transition: all 0.5s;
              margin-top: 1vw;
            }

            p {
              opacity: 1;
            }
          }
        }

        &.item4Accordion {
          h2 {
            color: white !important;
            transition: all 0.5s;
          }

          p {
            opacity: 0;
            font-size: 1vw;
            line-height: 1.5;
          }

          &:hover {
            width: 100%;
            height: 16vw;
            background-color: rgba($yellow, 0.5) !important;

            h2 {
              color: black !important;
              transition: all 0.5s;
              margin-top: 1vw;
            }

            p {
              opacity: 1;
            }
          }
        }

        &.item5Accordion {
          h2 {
            color: white !important;
            transition: all 0.5s;
          }

          p {
            opacity: 0;
            font-size: 1vw;
            line-height: 1.5;
          }

          &:hover {
            width: 100%;
            height: 16vw;
            background-color: rgba($yellow, 0.5) !important;

            h2 {
              color: black !important;
              transition: all 0.5s;
              margin-top: 1vw;
            }

            p {
              opacity: 1;
            }
          }
        }

        &.item6Accordion {
          h2 {
            color: white !important;
            transition: all 0.5s;
          }

          p {
            opacity: 0;
            //font-size: 1vw;
            line-height: 1.5;
          }

          &:hover {
            width: 100%;
            height: 15vw;
            background-color: rgba($yellow, 0.5) !important;

            h2 {
              color: black !important;
              transition: all 0.5s;
              margin-top: 1vw;
            }

            p {
              opacity: 1;
            }
          }
        }
      }
    }

    li {
      position: relative;
      display: block;
      width: 100%;
      float: left;
      height: 8.8vw;
      border: 1px solid white;
      //transition: all 0.5s;
    }
  }
}
