// Alert

.swal2-cancel {
  background-color: $white !important;
  border: 1px solid $orange !important;
  border-color: $orange !important;
  color: $orange !important;
  font-weight: bold;
  width: 40%;
}

.swal2-actions:not(.swal2-loading) .swal2-styled:hover {
  background-image: none !important;
}

.swal2-confirm {
  width: 40%;
  background-color: $yellow !important;
  color: black !important;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.55) !important;
}
