.bg {
  &-gray {
    color: $white;
    background-color: $gray;

    &-light {
      background-color: $gray-light;
    }
  }

  &-black {
    &-light {
      background-color: $light-black;
    }
  }
}
