.jumbotronPrincipal {
  background-size: cover;
  height: 400px;
  border: 0 !important;
  width: 100%;
  @media (min-width: 1450px) {
  height: 550px;
}
  @media (min-width: 1800px) {
  height: 550px;;
}
  @media (min-width: 2200px) {
  height: 680px;
}
  @media (min-width: 2500px) {
  height: 700px;
}
  @media (min-width: 2700px) {
  height: 800px;
}
  @media (min-width: 3100px) {
  height: 850px;
}
  @media (min-width: 3400px) {
  height: 850px;
} 

}

.jumbotronGeneral {
  background-size: cover;
  background-repeat: no-repeat;
  border: 0 !important;
  background-position: center;
  height: 20vw;
  width: 100%;
}

.titleBanner {
  color: white;
  font-size:  1.625rem;
  margin-left: 6.6vw;
  margin-right: 5vw;
  line-height: 1.4;
      @media (max-width: 575px) {
    font-size:  1.275rem;
 }
}

.titleBannerGeneral {
  color: white;
  font-size: 1.625rem;
  margin-left: 4vw;
  line-height: 1;
  width: 100%;
  @media (min-width: 1920px) { 
  font-size: 3.5rem;
  }
}
/*
.bannerGeneralHeight {
  padding-top: 10%;
  padding-bottom: 10%;
}
*/
.titleBannerPrincipal {
  padding-right: 30%;
  text-shadow: 1px 5px 3px black;
  @media (max-width: 575px) {
    padding-right: 0;
    text-align: center;
 }
}

.alignBannerPrincipal {
  margin-top: 7%;
    @media (max-width: 575px) {
 margin-top: 45%;
 }
}

.textBanner {
  color: white;
  vertical-align: auto;
  font-size: 0.875rem;
  margin-left: 6.6vw;
  padding-right: 65%;
  line-height: 1.5;
  margin-bottom: 20px;
  @media (max-width: 767px) {
  padding-right: 0;
  text-align: center;
  margin-left: 0;
  padding: 0 25px; 
}
}
