// Button

.btn {
  &-primary {
    background-color: $orange;
  }
}

.button-rounded {
  border-radius: 6px !important;
}

.btn-primary {
  border-radius: 3px;
  color: #fff !important;
  min-width: 120px;
  outline: 0px !important;
  border: 0px !important;
  box-shadow: none !important;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.btn-blue {
  background-color: $blue !important;
}

.btn-block {
  width: 100%;
}

.btn-outline {
  border: 1px solid $gray !important;
  background-color: transparent !important;
  min-width: auto !important;
  border-radius: 3px !important;

  :hover {
    color: none !important;
  }
}

.btn-outline-orange {
  border: 1px solid $orange !important;
  border-color: $orange !important;
  color: $orange !important;
  font-weight: bold;
}

.btn-outline-orange:focus {
  box-shadow: 0 0 0 0.2rem #f2692a36 !important;
}

.btn-red {
  background-color: $danger !important;
}

.btn-green {
  background-color: $green !important;
}

.btn-orange {
  background-color: $orange !important;
  border-radius: 3px;
  color: $black !important;
  min-width: 120px;
  outline: 0px !important;
  border: 0px !important;
  box-shadow: none !important;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
}

.btn-small {
  padding: 5px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  font-size: 12px !important;
  min-width: 30px !important;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem !important;

  &-custom {
    padding: 0.5rem 1.5rem;
  }
}

.btn-xl {
  padding: 0.3rem 4rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-align-bottom {
  @media (min-width: 768px) {
    margin-top: 32.5px;
  }
  margin-bottom: 15px;
}

.shadow-button {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.55) !important;
}

.btn-orange:not(:disabled):not(.disabled).active,
.btn-orange:not(:disabled):not(.disabled):active,
.show > .btn-orange.dropdown-toggle {
  color: $black !important;
  background-color: #ffee8e !important;
  border-color: #ffee8e !important;
  font-weight: bold;
}

.float-button-right {
  position: fixed;
  right: 25px;
  bottom: 25px;
  min-width: 35px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
