.carouselComponent {
  height: 40%;
}

.carouselComponentIdentity {
  height: 40%;
  padding-bottom: 8%;
}
.carouselContainer .react-multi-carousel-dot-list {
  margin-left: 0vw !important;
  margin-right: 0vw !important;
}

.carouselCard {
  -webkit-box-shadow: 0px -3px 1.5vw 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -3px 1.5vw 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -3px 1.5vw 0px rgba(0, 0, 0, 0.75);

  width: 100%;
  height: 100%;
}

.carouselIdentity {
  width: 100%;
  height: 100%;

  margin-left: -2.35%;
}

.carouselImage {
  background-color: $white !important;
  -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.6);
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  img { 
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    height: auto;
    object-fit: contain;
    @media (max-width: 575px) {
     height: 200px;
}

  }
}

.bgFooter {
  background-color: $footer;
}

.carouselTitle {
  color: white !important;
  margin-bottom: 2vw;
  margin-top: 1vw;
  text-transform: uppercase;
  background-color: $footer;
}

.carouselDescription {
      padding-bottom: 15px;
  color: white !important;
  opacity: 0.8;
  background-color: $footer;
  margin: auto;
}

.marginCarousel {
  padding-bottom: 0vw;
.react-multiple-carousel__arrow--left {
  left: 0 !important;
}
.react-multiple-carousel__arrow--right {
  right: 0 !important;
}
.react-multiple-carousel__arrow {
          min-width: 35px;
        min-height: 35px;
}
.react-multiple-carousel__arrow::before {
          font-size: 12px;
}
}

.marginCarouselItems {
  margin-bottom: 6vw;
  height: 100%;
  //padding-left: 3.5vw !important;
}

.marginCarouselItemsIdentity {
  padding-left: 4.3vw !important;

  @media (min-width: 450px) and (max-width: 890px) {
    padding-left: 2.6vw !important;
  }
}

.bgYellow {
  background-color: $yellow !important;
}

.pointsCarousel {
  height: 0.7vw;
  width: 0.65vw;
  margin-left: 1.2vw;
  margin-right: 1.2vw;
  margin-bottom: 0vw;
  z-index: 1;
}

.carouselContainer {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-bottom: 1vw;
}

.carouselTitle {
  text-transform: uppercase;

  margin-top: 1.5vw;
  margin-bottom: 2vw;
  font-size: calc(1px + 1.1vw);
}

.carouselDescription {
  padding-bottom: 5px;
  font-size: 0.9vw;
  vertical-align: middle;
  margin: -0.5rem 0 0 0;
  height: 168px;
  opacity: 1;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.5;
  max-height: 178px;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.carouselCard {
  margin-left: 1% !important;
  margin-right: 1% !important;
  height: 230px;
  @media (max-width: 575px) {
  height: 15rem;
}
  @media (min-width: 1450px) {
  height: 20rem;
}
  @media (min-width: 1800px) {
  height: 20rem;
}
  @media (min-width: 2200px) {
  height: 26rem;
}
  @media (min-width: 2500px) {
  height: 30rem;
}
  @media (min-width: 2700px) {
  height: 34rem;
}
  @media (min-width: 3100px) {
  height: 38rem;
}
  @media (min-width: 3400px) {
  height: 42rem;
}
.col-7 {
        padding-right: 1px;
        padding-left: 8px;
}
}

@media (min-width: 2500px) {
  .pointsCarousel {
    margin-bottom: 2.3vw;
  }

  .carouselTitle {
    margin-top: 1.5vw;
    margin-bottom: 0.5rem;
  }

  .carouselContainer {
    padding-bottom: 4.6vw;
  }
}

@media (min-width: 2000px) and (max-width: 2500px) {
  .pointsCarousel {
    margin-bottom: 2.3vw;
  }

  .carouselTitle {
    margin-top: 1.5vw;
    margin-bottom: 0.5rem;
  }

  .carouselContainer {
    padding-bottom: 4.6vw;
  }
}

@media (min-width: 1501px) and (max-width: 2000px) {
  .pointsCarousel {
    margin-bottom: 2.3vw;
  }

  .carouselTitle {
    margin-top: 1.5vw;
    margin-bottom: 0.5rem;
  }

  .carouselContainer {
    padding-bottom: 4.6vw;
  }
}

@media (min-width: 1024px) and (max-width: 1500px) {
  .marginCarouselItems {
    margin-bottom: 20vw;
    margin-left: 0vw;
    margin-right: 0vw;
  }
  .carouselTitle {
    margin-top: 1.5vw;
    margin-bottom: 0.5rem;
  }

  .pointsCarousel {
    margin-bottom: 1.6vw;
  }

  .carouselContainer {
    padding-bottom: 3vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .carouselCard {
    margin-left: 0.2vw !important;
    margin-right: 0.2vw !important;
  }
  .carouselTitle {
    margin-top: 1.5vw;
    margin-bottom: 0.5rem;
    font-size: 1.6vw !important;
  }
  .carouselDescription {
        padding-bottom: 15px;
    font-size: 1.2vw !important;
  }

  .marginCarouselItems {
    margin-bottom: 4%;
  }

  .pointsCarousel {
    height: 0.9vw !important;
    width: 0.9vw !important;

    //margin-bottom: 2vw !important;
  }

  .carouselContainer {
    padding-bottom: 0% !important;
  }
} 

@media (max-width: 767px) {
  .carouselCard {
    margin-left: 0.2vw !important;
    margin-right: 0.2vw !important;
  }
  .carouselTitle {
    margin-top: 1.5vw;
    margin-bottom: 7vw;
    font-size: calc(1rem + 0.02vw);
  }
  .carouselDescription {
        padding-bottom: 15px;
    font-size: calc(0.875rem + 0.02vw);
  }

  .marginCarouselItems {
    margin-bottom: 8vw;
  }

  .pointsCarousel {
    height: 2vw !important;
    width: 2vw !important;
  }
}

/*
@media (max-width: 464px) {
  .carouselCard {
    margin-left: 0.2rem !important;
    margin-right: 0.2rem !important;
  }

  .carouselTitle {
    margin-top: 11vw;
    margin-bottom: 5vw;
    font-size: 5.2vw !important;
  }
  .carouselDescription {
      padding-bottom: 15px;
    font-size: 3.8vw !important;
  }

  .marginCarouselItems {
    margin-bottom: 8vw;
  }

  .pointsCarousel {
    height: 1.2vw !important;
    width: 1vw !important;
  }
}
*/
