.carouselContainerMarks {



 -webkit-transition: 0.4s ease-out;
-moz-transition:  0.4s ease-out;
transition:  0.4s ease-out;



  .marc-x {
    margin-left: 4rem;
    @media (max-width: 767px) { 
      margin-left: 0;
      margin-top: 2rem;
      p {
        text-align: center !important;
      }
    }
  }
}

.react-multi-carousel-dot-list {
  li {
  .marginMarks {
    cursor: pointer;
    @media (max-width: 767px) { 
      width: 2rem !important;
    }
  } 
}
}

.carouselBrandImage {
  background-color: $yellow !important;
  -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.6);
}

.carouselBrandTitle {
  color: white !important;
  margin-bottom: 1vw;
  font-weight: 800;
}

.carouselBrandDescription {
  color: white !important;
  opacity: 0.8;
  margin-bottom: 0vw !important;
  //font-size: calc(0.875rem + 0.02vw) !important;
}

.carouselBrandLink {
  color: $yellow !important;
  text-decoration: none !important;
  cursor: pointer !important;

  margin-bottom: 1vw !important;
}

.marginCarousel {
  padding-top: 0; 
}

.marginCarouselItems {
  padding-left: 3vw;
  padding-right: 3.4vw;

  margin-bottom: 2vw;
}

.carousel-container-brand {
  padding-bottom: 2rem;
}

.carousel-brand {
  margin-bottom: 2rem;
}

.informationMarks {
  h3 {
    padding-top: 2vw;
    font-size: 1.625rem;
  }
}

.arrow {
  position: absolute;
  top: 30%;
 opacity: 0;

  img {
    width: 2vw;
    background-color: $background;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-width: 4px;
    border-radius: 0.5vw;
  }
}

.right {
  right: 0;
  color: $yellow;
  border: none;
  background-color: transparent;
  font-size: 3vw;
  margin-right: 2vw;
  transform: scaleX(-1);
}

.left {
  left: 0;
  color: $yellow;
  border: none;
  background-color: transparent;
  font-size: 3vw;
  margin-left: 2vw;
}

@media (min-width: 2500px) {
  .carouselBrandTitle {
    font-size: calc(1.5rem + 0.02vw);
  }
  .carouselBrandDescription {
    font-size: calc(0.875rem + 0.02vw);
  }
  .carousel-container {
    margin-left: 7vw;
    margin-right: 7vw;
  }

  .carousel-container-brand {
    padding-bottom: 8rem;
  }

  .carousel-brand {
    margin-bottom: 6rem;
  }
}

@media (min-width: 2000px) and (max-width: 2500px) {
  .carouselBrandTitle {
    font-size: calc(1.5rem + 0.02vw);
  }
  .carouselBrandDescription {
    font-size: calc(0.875rem + 0.02vw);
  }
  .carousel-container {
    margin-left: 7vw;
    margin-right: 7vw;
  }

  .carousel-container-brand {
    padding-bottom: 3.5rem;
  }

  .carousel-brand {
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 1500px) and (max-width: 2000px) {
  .carouselBrandTitle {
    font-size: calc(1.5rem + 0.02vw);
  }
  .carouselBrandDescription {
    font-size: calc(0.875rem + 0.02vw);
  }
  .carousel-container {
    margin-left: 7vw;
    margin-right: 7vw;
  }
  .carousel-container-brand {
    padding-bottom: 3rem;
  }

  .carousel-brand {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1024px) and (max-width: 1500px) {
  .carouselBrandTitle {
    font-size: calc(1.5rem + 0.02vw);
  }
  .carouselBrandDescription {
    font-size: calc(0.875rem + 0.02vw);
  }
  .carousel-container {
    margin-left: 7vw;
    margin-right: 7vw;
    padding-left: 1vw;
  }
  .carousel-container-brand {
    padding-bottom: 2.5rem;
  }

  .carousel-brand {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 465px) and (max-width: 1024px) {
  .carouselBrandTitle {
    font-size: calc(1.5rem + 0.02vw);
  }
  .carouselBrandDescription {
    font-size: calc(0.875rem + 0.02vw);
  }
  .carousel-container {
    margin-left: 8vw;
    margin-right: 8vw;
    padding-left: 2.2vw;
  }

  .marginCarouselItems {
    margin-bottom: 7vw;
  }

  .carousel-container-brand {
    padding-bottom: 1.5rem;
  }

  .carousel-brand {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 464px) and (max-width: 576px) {
  .carouselBrandTitle {
    font-size: calc(1.5rem + 0.02vw);
  }
  .carouselBrandDescription {
    font-size: calc(0.875rem + 0.02vw);
  }

  .carousel-container {
    margin-left: 16vw;
    margin-right: 16vw;
    padding-left: 4vw;
  }

  .marginCarouselItems {
    margin-bottom: 8vw;
  }

  .carousel-container-brand {
    padding-bottom: 1rem;
  }

  .carousel-brand {
    margin-bottom: 1rem;
  }
}

@media (max-width: 575px) {
  .carouselBrandImage {
    width: 50% !important;
  }

  .carouselBrandTitle {
    font-size: calc(1.5rem + 0.02vw);
    margin-top: 2vw;
    text-align: center !important;
  }
  .carouselBrandDescription {
   font-size: calc(0.875rem + 0.02vw);
    margin-left: 1vw;
  }

  .carousel-container {
    margin-left: 16vw;
    margin-right: 16vw;
    padding-left: 4vw;
  }

  .marginCarouselItems {
    margin-bottom: 8vw;
  }

  .carousel-container-brand {
    padding-bottom: 2rem;
  }

  .carousel-brand {
    margin-bottom: 0.4rem;
  }

  .informationMarks {
    h3 {
      padding-top: 4vw;
      font-size: 1.625rem;
    }
  }

  .arrow {
    top: 65%;
  }
}

.react-multi-carousel-dot-list {
  margin-left: 20vw;
  margin-right: 20vw;
}

.textColorYellow {
  color: $yellow;
}

