.formRegisterCourses {
  background-color: $gray !important;
  border: 0px;

  & .card-body {
    background-color: $gray !important;
  }
  input {
   font-size: 0.8rem;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}

.titleCoursesRegister {
  text-align: center;
  color: $yellow !important;
  font-weight: bold;
  margin-bottom: 0;
}

.imageCoursesRegister {
 margin: 0.3rem 0;
font-size: 0.8rem;
border-radius: 5px;
cursor: pointer;
  @media (max-width: 575px) {
    font-size: 0.8rem;
  }
}

.borderCoursesRegister {
border-radius: 5px;
background-color: #f1f1f1;
border: solid #f1f1f1 !important;
 div {
  color: #6c757d;
  text-align: left;
 margin-left: 0.7rem;
 }
}

.buttonCoursesRegister {
  background-color: #ffe44f !important;
  color: #282828 !important;
  margin-top: 2vw;
  margin-bottom: 3vw;
  font-size: 1rem !important;
  width: auto;
  margin: auto;
  padding: 0.3rem 2.5rem;
}

.fc-icon-chevron-left {
  content: url(../../img/arrow-left.png) !important;
  background-color: $yellow !important;
  width: 2vw;

  &:before {
    content: none !important;
  }
}

.fc-icon-chevron-right {
  content: url(../../img/arrow-right.png) !important;
  background-color: $yellow !important;
  width: 2vw;

  &:before {
    content: none !important;
  }
}

.fc .fc-button .fc-icon {
  @media (max-width: 575px) {
    font-size: 2.5vw !important;
  }
}

.fc .fc-button-primary {
  background-color: transparent !important;
  border-width: 0 !important;
}
