// Datepicker

.react-datepicker-wrapper {
  display: block;
}

.container-datepicker {
  cursor: pointer;
  border-radius: 3px;
  background-color: $input !important;
  outline: 0px !important;
  box-shadow: none !important;
  border: 0px !important;
  font-size: 14px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  min-width: 100%;
  height: 40px;
  display: flex;
  // margin-top: 15px;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;

  &.white {
    background-color: $white !important;
  }

  p {
    position: absolute;
    top: 0;
    text-transform: lowercase;
    letter-spacing: 3px;
    min-width: 100%;
    margin: 10px;
    font-size: 12px;
  }

  i.fa {
    position: absolute;
    right: 10px;
  }

  img {
    position: absolute;
    left: 12px;
  }
}

.label-datepicker {
  display: block;
}
