.footer {
  position: relative;
  padding: 50px 0;
  background-color: $footer !important;
  left: 0;
  bottom: 0;
  width: 100%;

  .fontPhone {
    color: #fff !important;
    padding-bottom: 0.8vw !important;

    font-size: 1.2vw;
    margin-top: 3vw;
  }

  .subHeaderFooter {
    background-color: black !important;
    padding: 0;
    padding-left: 5%;
    padding-right: 3.5%;
  }

  .fontFooter {
    font-size: 1.2vw;
    line-height: 1.2;
    margin-right: 6vw;
    margin-left: 3vw;
  }

  .imgLogoFooter {
    width: 7.5rem;
    height: auto;
    margin-left: 4vw;
  }

  .imgMenuFooter {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.4vw;
  }

  .fontQuestion {
    font-size: 1rem;
    margin-top: 2.5vw;
  }

  .listFooter {
    font-size: 14px;
    a {
      color: white;
      text-decoration: none;
      font-family: $font-poppins-Light;
      font-size: 0.8rem;

      &:hover {
        color: $yellow;
      }
    }
    @media (max-width: 767px) {
      text-align: center;
    }
  }

  .fontCategory {
    margin-top: 3vw;
    padding-top: 0 !important;
    font-size: 1.2vw;
  }

  .fontSubMenu {
    font-family: $font-poppins-Light !important;
    font-size: 0.8rem;
    padding-top: 0.8vw !important;
  }

  .socialMediaFooter {
    width: 2.5vw;
    height: 2.5vw;
  }

  .subHeaderFooter {
    font-size: 0.75rem;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  @media (max-width: 575px) {
    .fontFooter {
      font-size: 2.1vw;
      line-height: 1.2;
      margin-right: 5vw;
      margin-left: 2vw;
    }

    .imgLogoFooter {
      width: 13vw;
      height: 10vw;
      margin: auto;
      display: block;
    }

    .fontCategory {
      margin-top: 5.3vw;
      padding-top: 0 !important;
      font-size: 2vw;
    }

    .fontSubMenu {
      font-family: $font-poppins-Light !important;
      font-size: 0.9rem;
      padding-top: 0.7vw !important;
    }

    .listFooter {
      margin-top: 1vw;
      margin-bottom: 1vw;
    }

    .fontPhone {
      padding-bottom: 1vw !important;

      font-size: 2.1vw;
      margin-top: 5.3vw;
    }

    .subHeaderFooter {
      font-size: 2vw;
      padding-top: 0.1vw;
      padding-bottom: 0.1vw;
    }

    .imgMenuFooter {
      width: 1.3rem;
      height: auto;
    }

    .fontQuestion {
      font-size: 14px;
      margin-top: 1vw;
    }
  }
  h6 {
    margin-bottom: 25px;
    @media (max-width: 767px) {
      text-align: center;
      margin-bottom: 8px;
    }
  }
  .redes-footer {
    span img {
      margin-right: 1.7rem;
      @media (max-width: 767px) {
        margin: 0.6rem;
      }
    }
    @media (max-width: 767px) {
      text-align: center;
    }
  }

  .address-footer {
    @media (max-width: 767px) {
      text-align: center;
    }
  }
}

.col1Footer {
  margin: auto;
  display: block;
}

.fontFooter {
  color: #fff !important;

  text-align: justify;
}

.buttonMobileFooter {
  background-size: cover;
  border-width: 0;
  text-align: center;
  background-color: transparent;
  margin-bottom: 2.6%;

  button {
    width: 8rem;
    height: 2.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    @media (min-width: 1500px) {
      width: 11rem;
      height: 3rem;
    }
  }

  p {
    font-size: 1.2vw;
    text-align: left;
    margin-left: 5vw !important;
  }

  @media (max-width: 575px) {
    p {
      font-size: 1.8vw;
      text-align: left;
      margin-left: 3vw !important;
    }
  }
}

.buttonMobile {
  border-width: 0;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0 !important;

  button {
    width: 8rem;
    height: 2.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-top: 0.6rem !important;
  }

  p {
    font-size: 1rem;
    padding-bottom: 2vw;
    font-family: "Poppins Semi Bold" !important;
  }

  @media (min-width: 464px) and (max-width: 575px) {
    button {
      width: 27vw;
      height: 7.7vw;
      margin-top: 2vw;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    p {
      font-size: 4vw;
      padding-bottom: 2vw;
    }
  }

  @media (max-width: 463px) {
    button {
      width: 34vw;
      height: 10.7vw;
      margin-top: 2vw;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    p {
      font-size: 4.8vw;
      padding-bottom: 2vw;
    }
  }
}

.fontSubFooter {
  color: rgb(231, 229, 229) !important;
  opacity: 0.8 !important;

  a:hover {
    color: #ffe44f !important;
    text-decoration: none;
  }

  a:focus {
    color: #ffe44f !important;
    text-decoration: none;
  }
}

.navbar-light .navbar-text a {
  color: white;
}

//scroll provisional
html {
  overflow-y: visible;
}
