
.wrapper {
    display: grid;
    //grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat( auto-fit, minmax(8vw, 1fr) );
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;

    & img {
      margin: auto;
      width: 150px;
      height: 150px;
    }
  }
