.header {
  background-color: $gray !important;
  margin-left: auto;
}
.subHeader {
  background-color: $background !important;
  padding: 0;
  padding-left: 5%;
  padding-right: 3.5%;

  line-height: 1.75 !important;
}

.socialMediaHeader {
  margin-left: 0.8vw;
  margin-right: 0.8vw;

  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
}

.socialMedia {
  margin-left: 0.2vw;
  margin-right: 0.2vw;

  margin-top: 0.2vw;
  margin-bottom: 0.2vw;
}
nav {
  .navbar-collapse {
      a {
    display: block;
    cursor: pointer;
  }
  }
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.header.navbar {
  padding-left: 5.5%;
  padding-right: 5%;
}

.fontMenu {
  color: #fff !important;
  font-size: 1rem;
  margin: 0.4rem;
  padding: 0.5rem;

  &:hover {
    color: $yellow !important;
  }
}

.fontSubMenu {
  color: #fff !important;
  opacity: 0.7;

  &:hover {
    color: $yellow !important;
  }

  a:hover {
    color: #ffe44f !important;
    text-decoration: none;
  }
}

.navbar-brand {
  padding: 0;
  line-height: 1;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../../icons/menu-toggle.svg);
}

@media (max-width: 767px) {
  .fontMenu {
    font-size: 3vw;
    margin-left: 0.6vw;
    margin-right: 0.6vw;
    margin-top: 0.8vw;
    margin-bottom: 2vw;
    padding: 1vw !important;
    text-align: left;
  }

  .imgMenu {
    width: 2.5vw;
    height: 2.5vw;

    margin-top: 0.2vw;
    margin-bottom: 0.2vw;

    margin-left: 1.2vw;
    margin-right: 1.2vw;
  }

  .header .imgLogo {
    width: 8vw;
    height: auto;

    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
  }

  .imgMenuInfo {
    width: 3vw;
    height: 3vw;

    margin-left: 0.6vw;
    margin-right: 0.6vw;

    padding-top: 0vw;
    padding-bottom: 0vw;
  }

  .fontSubMenu {
    font-size: 2vw;
    opacity: 0.8;
    padding-right: 0.4vw;
    vertical-align: middle;
  }

  .subHeader {
    line-height: 1.2 !important;
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .imgMenu {
    width: 1.3vw;
    height: 1.3vw;

    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .fontMenu {
    font-size: 0.65rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
  }

  .header .imgLogo {
    width: 7vw;
    height: auto;

    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }

  .imgMenuInfo {
    width: 1.3vw;
    height: 1.3vw;

    margin-left: 0.4vw;
    margin-right: 0.4vw;

    padding-top: 0vw;
    padding-bottom: 0vw;
  }

  .fontSubMenu {
    font-size: 0.9vw;
    opacity: 0.8;
    padding-right: 0.4vw;
    vertical-align: middle;
  }
}

@media (min-width: 1100px) and (max-width: 1800px) {
  .imgMenu {
    width: 1.2vw;
    height: 1.2vw;

    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
  }

  .header .imgLogo {
    width: 7vw;
    height: auto;
  }

  .imgMenuInfo {
    width: 1.2vw;
    height: 1.2vw;

    margin-left: 0.4vw;
    margin-right: 0.2vw;

    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
  }

  .fontSubMenu {
    font-size: 0.7vw;
    padding-right: 0.4vw;
    vertical-align: middle;
  }
}

@media (min-width: 1800px) and (max-width: 2500px) {
  .fontMenu {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }

  .imgMenu {
    width: 1.2vw;
    height: 1.2vw;

    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
  }

  .header .imgLogo {
    width: 7vw;
    height: auto;
  }

  .imgMenuInfo {
    width: 1.2vw;
    height: 1.2vw;

    margin-left: 0.4vw;
    margin-right: 0.4vw;

    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
  }

  .fontSubMenu {
    font-size: 0.8vw;
    padding-right: 0.4vw;
    vertical-align: middle;
  }
}

@media (min-width: 2500px) and (max-width: 4000px) {
  .fontMenu {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }

  .imgMenu {
    width: 1.3vw;
    height: 1.3vw;

    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
  }

  .header .imgLogo {
    width: 7vw;
    height: auto;
  }

  .imgMenuInfo {
    width: 1.2vw;
    height: 1.2vw;

    margin-left: 0.4vw;
    margin-right: 0.4vw;

    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
  }

  .fontSubMenu {
    font-size: 0.8vw;
    padding-right: 0.4vw;
    vertical-align: middle;
  }
}

@media (min-width: 4000px) and (max-width: 5000px) {
  .fontMenu {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }

  .imgMenu {
    width: 1.2vw;
    height: 1.2vw;

    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
  }

  .header .imgLogo {
    width: 7vw;
    height: auto;
  }

  .imgMenuInfo {
    width: 1.2vw;
    height: 1.2vw;

    margin-left: 0.4vw;
    margin-right: 0.4vw;

    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
  }

  .fontSubMenu {
    font-size: 0.8vw;
    padding-right: 0.4vw;
    vertical-align: middle;
  }
}

@media (min-width: 5000px) and (max-width: 6000px) {
  .imgMenu {
    width: 1.2vw;
    height: 1.2vw;

    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
  }

  .header .imgLogo {
    width: 7vw;
    height: auto;
  }

  .imgMenuInfo {
    width: 1.2vw;
    height: 1.2vw;

    margin-left: 0.4vw;
    margin-right: 0.4vw;

    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
  }

  .fontSubMenu {
    font-size: 0.8vw;
    padding-right: 0.4vw;
    vertical-align: middle;
  }
}

@media (min-width: 6000px) {
  .imgMenu {
    width: 1.2vw;
    height: 1.2vw;

    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
  }

  .imgMenuInfo {
    width: 1.2vw;
    height: 1.2vw;

    margin-left: 0.4vw;
    margin-right: 0.4vw;

    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
  }

  .fontSubMenu {
    font-size: 0.8vw;
    padding-right: 0.4vw;
    vertical-align: middle;
  }

  .header .imgLogo {
    width: 7vw;
    height: auto;
  }
}

.containerAdmin {
  margin-left: 20vw !important;
}
