// Input

label {
  color: $black;
}

.form-group {
  &.is-required .form-control {
    display: inline-block;
    width: 90%;
  }

  &.is-required:after {
    content: "*";
    color: $orange;
    vertical-align: top;
    font-size: 20px;
    margin-left: 5px;
  }
}

input.form-control {
  border-radius: 3px;
  background-color: $input !important;
  outline: 0px !important;
  box-shadow: none !important;
  border: 0px !important;
  font-size: 14px;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  &.input-white {
    background-color: $white !important;
  }
  &.input-gray {
    background-color: $grayAdmin !important;
  }
  &.input-arrow {
    background-image: url("../../icons/arrow-left-black.svg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 14px 16px;
    background-position: 98% 50%;
    border-radius: 0px !important;
    background-color: transparent !important;
    outline: 0px !important;
    box-shadow: none !important;
    border-top-width: 0px !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-color: #000 !important;
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 18px;
    font-family: $font-family-bold !important;
  }
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $green;
  background-color: $green;
}
