.insta {
padding: 25px 0;
 background: $yellow;
 p, h2 {
  color: black;
  text-align: center;
 }
 h2 {
  font-weight: 900;
  font-size: 1.625rem;
 }
 p {
  margin-bottom: 0;
 }
 .insta-ico {
 width: 26px;
 }
}