// List

// .strong-item-list {
// font-family: 'Roboto Bold';
// }

.list-group-item {
  background-color: transparent;
  border: none;
  padding: 0 1rem; 
  .card-canguro {
    background-color: #f1f1f1;
    border-radius: 0.3rem;
  }
  .ziru {
    .card-body {
      padding: 0;
    }
  }
  img {
    height: 250px;
    object-fit: cover;
    @media (max-width: 575px) {
      height: 150px;
    }
  }
}

.p-x nav {
  padding: 0 1rem;
  margin-top: 1rem;
}

.item-stripped {
  &:nth-child(even) {
    background-color: $gray;
  }
}
