.headerCalendar {
  border: 0px !important;
  //border-color: $background !important;
  background-color: $medium-black !important;
  border-color: $yellow !important;

  & a {
    color: white !important;
    text-decoration: none;
    text-transform: uppercase;

    font-size: 1.3vw;

    @media (max-width: 575px) {
      font-size: 2.5vw;
    }
  }
}

.fc .fc-daygrid-day-number {
  padding-bottom: 0 !important;
}

.daysCalendar {
  background-color: transparent !important;
  border-color: $yellow !important;
  //border: 5px !important;
  border-radius: 2px !important;

  & a {
    color: white !important;
    text-decoration: none;
    text-transform: uppercase;

    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);

    font-size: 1.3vw;

    @media (max-width: 575px) {
      font-size: 2.8vw;
    }
  }
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  position: absolute !important;
  width: 100%;
  height: auto;
  font-size: 0 !important;
  top: 0 !important;
  color: black !important;
}

.fc .fc-daygrid-day-events .fc-h-event {
  position: relative;
  width: 100%;
  height: 5.2vw;
  top: 0 !important;
  margin-left: auto !important;
  margin-right: 0.1vw !important;
  margin-top: 0 !important;
  font-size: 1vw !important;
  text-align: right;
  color: black !important;

  //background-color: $yellow;
  border-radius: 0 !important;
  border-color: $yellow;
  z-index: -1;

  @media (max-width: 575px) {
    font-size: 0vw !important;
    width: 100%;
  }

  .fc-event-main {
    color: black !important;
  }
}

/*
.fc .fc-daygrid-day-frame .fc-h-event {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  background-color: $yellow !important;
}
*/
.fc .fc-toolbar.fc-header-toolbar {
  margin: 0 !important;
  padding-top: 0.7vw !important;
  padding-bottom: 0.7vw !important;
  background-color: $yellow;
}

.fc .fc-scrollgrid-section-body table,
.fc .fc-scrollgrid-section-footer table {
  border-top-style: solid !important;
  border-bottom-style: solid !important;
  border-left-style: solid !important;
  border-right-style: solid !important;

  border-collapse: separate !important;

  border-width: 0 !important;

  border-color: $yellow;
}

.fc-theme-standard .fc-scrollgrid {
  border: 0 !important;
}

.fc .fc-scrollgrid-section > * {
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
}

.newCalendar {
  background-color: transparent !important;
  font-size: 1vw;
  padding: 0;
  margin: 0;
  width: 60%;

  table {
    &.fc {
      &-scrollgrid {
        padding: 0.5rem;
        background-color: $medium-black;
      }
    }
  }

  .fc-event-title {
    display: none;
    margin: 0 !important;
    font-size: 9px !important;
    @media (max-width: 480px) {
      font-size: 0.4rem !important;
    }
    @media (min-width: 767px) {
      font-size: 0.6rem !important;
    }
    @media (min-width: 1920px) {
      font-size: 1.1rem !important;
    }
    @media (min-width: 2600px) {
      font-size: 1.3rem !important;
    }
  }

  & h2 {
    font-size: 1rem !important;
    color: $black-real;
    text-decoration: none;
    margin-top: 10%;
    text-transform: uppercase;
    font-family: $font-poppins-bold !important;

    @media (max-width: 575px) {
      font-size: 3.5vw !important;
      padding-bottom: 1vw !important;
      padding-top: 1vw !important;
    }
  }

  & button {
    margin: 0;
    padding: 0;
    background-color: black;
  }
}

.newCalendarWidth {
  background-color: $background !important;
  padding: 5vw;
  .cups {
    display: flex;
    p {
      margin-right: 1rem;
    }
  }

  .usButton {
    background-color: $yellow;
    color: black;
    text-decoration: none;
    font-size: 14px;
    border: solid 1.5px $yellow;
    border-radius: 1vw;
    padding: 0.6vw 2vw 0.6vw 2vw;
    display: block;
    width: auto;
    text-align: center;
    margin: 25px auto 0 auto !important;
  }
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  max-height: 0;
  margin: 0;
}

.fc .fc-bg-event {
  opacity: 0.6 !important;
  color: black;
}

//description
.typeCalendar {
  color: gray !important;
  margin-bottom: 0.5vw;
  font-size: 1rem;
  font-family: $font-poppins-medium;

  @media (min-width: 1920px) {
    font-size: 1.6rem;
  }
}

.titleCalendar {
  color: $yellow !important;
  font-family: $font-poppins-bold;
  font-size: 2rem;

  @media (min-width: 1920px) {
    font-size: 2.5rem;
  }
}

.descriptionCalendar {
  color: white !important;
  font-size: 1rem;
  font-family: $font-poppins-medium;
  margin-bottom: 1rem;

  @media (min-width: 1920px) {
    font-size: 1.6rem;
  }
}

.capacityCalendar {
  color: $yellow !important;
  font-family: $font-poppins-medium;
  font-size: 1rem;

  @media (min-width: 1920px) {
    font-size: 1.4rem;
  }
}

.priceCalendar {
  color: $yellow !important;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1vw;
}

.pointLegendCalendar {
  width: 1rem;
  height: 1rem;
  margin-bottom: 0.4rem;
}

.textLegendCalendar {
  color: white;
  font-size: 1rem;
  margin-left: 1vw;
  margin-bottom: 1.2vw;
  @media (min-width: 1920px) {
    font-size: 1.4rem;
  }
}

@media (max-width: 575px) {
  .daysCalendar {
    a {
      //text-shadow: 1px 1px 1px #000;
    }
  }

  .typeCalendar {
    margin-top: 2.5vw;
    margin-bottom: 1vw;
    font-size: 3vw;
  }

  .titleCalendar {
    font-size: 5vw;
  }

  .descriptionCalendar {
    font-size: 4vw;
    margin-bottom: 1vw;
  }

  .capacityCalendar {
    font-size: 4vw;
    margin-bottom: 1vw;
  }

  .priceCalendar {
    font-size: 5vw;
    margin-top: 2vw;
  }

  .pointLegendCalendar {
    margin-bottom: 1.2vw;
  }

  .textLegendCalendar {
    font-size: 2.4vw;
  }
}
