// Pagination

.pagination {
  @media (max-width: 575px) {
    justify-content: center;
  }

  .page-link,
  .page-item {
    color: #909090 !important;
    text-decoration: none !important;
    outline: 0px !important;
    box-shadow: none !important;
  }
  .page-item.active {
    .page-link {
      color: black !important;
      font-weight: 800;
      background-color: $orange !important;
      border-color: $orange !important;
    }
  }
}
