.imageVistBlog {
  img {
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
}

.btnPosts {
  background-color: $yellow;
  color: black;
  padding: 12px 22px 12px 22px;
  border-radius: 6px;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  border: none;

  &:hover {
    background-color: $yellow;

    text-decoration: none;
    color: white;
  }
}

.anuncio-blog img.anuncio {
  width: 100%;
  margin: auto;
  display: block;
}

.etiquetas {
  .col-md-6 {
    padding-left: 0;
  }
}

.box-eti {
  background: #9d9d9d;
  padding: 4px;
  text-align: center;
  border-radius: 8px;
  color: white;
  margin: 1rem 0;
  width: auto;
}

.postDate {
  color: #998204;
  opacity: 0.8;
  font-size: 0.875rem;
}

.postTitle {
  color: black;
  opacity: 1;
  font-size: 1.625rem;
}

.postDescription {
  height: 40px;
  color: black;
  opacity: 1;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.5;
  max-height: 40px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 0.8rem;
}

.textTitleVisitBlog {
  color: white;
  font-size: 1rem;
  margin-bottom: 1rem;

  &::before {
    content: "";
    position: absolute;
    height: 0.3rem;
    width: 3rem;
    background-color: $yellow;
    margin-top: 1.6rem;
    left: 0;
  }

  border-bottom: 0.01rem solid $yellow;

  @media (min-width: 576px) {
    padding-left: 0;
    padding-top: 1vw;
  }
}

.marginViews {
  margin-top: 2vw;
  margin-bottom: 1.5vw;
}

.textVisitBlog {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1vw;
}

.text-mute {
  color: black;
  color: #a8a8a8;
  font-size: 12px;
}

.textDescriptionVisitBlog {
  font-size: 1.5rem;
  opacity: 0.8;
  line-height: 1.2;
}

.BgBackground {
  background-color: $background;
}

.BgGray {
  background-color: $gray;
  &:hover {
    background-color: $gray;
  }
}

.activePagination {
  color: black;
  &:hover {
    color: black;
  }
}

.activePaginationBG {
  background-color: $yellow;
  &:hover {
    background-color: $yellow;
  }
}

.columnView {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
}

@media (max-width: 575px) {
  .imageVistBlog {
    min-height: 34vw;
    height: auto;
    position: relative;
  }

  .imageVist {
    position: relative;
    height: 130px;
    object-fit: contain;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .textVisitBlog {
    font-size: 1.2rem;
    margin-top: 15px;
    line-height: 1.2;
    padding-bottom: 1vw;
    padding-top: 2vw;
  }
}

.imageBlogVist {
  min-height: 31vw;
  height: auto;
  position: relative;
  overflow: hidden;
}

.imageBlogVist {
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
  }
}

@media (max-width: 575px) {
  /*
  .imageVist {
    width: 24vw;
    min-height: 30vw;
    height: auto;
  }
  */
  .textTitleVisitBlog {
    font-size: 1.2rem;
  }

  .textDescriptionVisitBlog {
    font-size: 1.5rem;
  }

  .btnPosts {
    padding: 12px 8px 12px 8px;
    border-radius: 6px;

    font-size: 0.875rem;
  }

  .postDate {
    font-size: 2.4vw;
    line-height: 1.5;
  }

  .postTitle {
    font-size: 4vw;
  }

  .postDescription {
    font-size: 2.4vw;
  }
}

.postIndividual {
  margin-top: 8vw;
  margin-bottom: 5vw;
  img {
    height: 310px;
  }
  h5 {
    font-size: 1.625rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.875rem;
  }

  @media (max-width: 575px) {
    h5 {
      font-size: 3.5vw;
    }
    h3 {
      font-size: 2vw;
    }
    p {
      font-size: 2.5vw;
    }
  }
}

.cardDeck {
  color: black;
  padding-bottom: 2.5vw !important;
  .marginTitleBlog {
    margin-left: 1.5vw;
  }

  .card {
    //max-width: 270px;
    border-radius: 0;
  }
  .card-body {
    @media (max-width: 575px) {
      text-align: center;
      div.h5 {
        margin: 0.8rem auto;
      }
    }
    padding: 0 1.25rem;
    .card-title {
      margin: 0.5rem 0 1.5rem 1rem;
      @media (min-width: 1450px) {
        margin: 0.1rem 0 1.8rem 1.3rem;
      }
      @media (min-width: 1920px) {
        margin: 0.1rem 0 2.6rem 1.8rem;
      }
      @media (min-width: 2200px) {
        margin: 0.1rem 0 2.6rem 1.8rem;
      }
      @media (min-width: 2500px) {
        margin: 0.1rem 0 1.8rem 2.3rem;
      }
      @media (min-width: 2700px) {
        margin: 0.1rem 0 3rem 3rem;
      }
      @media (min-width: 3400px) {
        margin: 0.1rem 0 3.8rem 3.3rem;
      }
    }
  }

  img {
    width: 100%;
    height: 198px;
    object-fit: cover;
    margin-bottom: 1rem !important;
    @media (max-width: 575px) {
      height: 198px;
    }
    @media (min-width: 1450px) {
      height: 198px;
    }
    @media (min-width: 1800px) {
      height: 198px;
    }
    @media (min-width: 2200px) {
      height: 338px;
    }
    @media (min-width: 2500px) {
      height: 338px;
    }
    @media (min-width: 2700px) {
      height: 408px;
    }
    @media (min-width: 3100px) {
      height: 408px;
    }
    @media (min-width: 3400px) {
      height: 408px;
    }
  }

  .firstCard {
    .card-title {
      font-size: 1rem;
    }
    .card-text {
      font-size: 1.2vw;
      margin-left: 1.5vw;
      margin-bottom: 0 !important;
    }
    img {
      //max-height: 500px;
      margin: auto;
    }
    padding-bottom: 2.5vw;
    border-radius: 5px;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .secondCard {
    .card-title {
      font-size: 1rem;
    }
    .card-text {
      font-size: 1.2vw;
      margin-left: 1.5vw;
      margin-bottom: 0 !important;
    }
    img {
      //max-height: 500px;
      margin: auto;
    }
    padding-bottom: 2.5vw;
    border-radius: 5px;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .thirdCard {
    .card-title {
      font-size: 1rem;
    }
    .card-text {
      font-size: 1.2vw;
      margin-left: 1.5vw;
      margin-bottom: 0 !important;
    }
    img {
      //max-height: 500px;
      margin: auto;
    }
    padding-bottom: 2.5vw;
    border-radius: 5px;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  @media (min-width: 1024px) {
  }
  @media (max-width: 1023px) {
    .firstCard {
      .card-title {
        font-size: 0.875rem;
      }
      .card-text {
        font-size: 1.8vw;
      }
    }
    .secondCard {
      .card-title {
        font-size: 0.875rem;
      }
      .card-text {
        font-size: 1.8vw;
      }
    }

    .thirdCard {
      visibility: hidden;
      position: absolute;

      width: 0;
      height: 0;
      .card-body .card-title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
  }

  @media (max-width: 575px) {
    .firstCard {
      .card-title {
        font-size: 0.875rem;
      }
      .card-text {
        font-size: 3vw;
      }
      padding-bottom: 4vw;
    }

    .secondCard {
      visibility: hidden;
      position: absolute;

      width: 0;
      height: 0;

      .card-body .card-title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
    .thirdCard {
      visibility: hidden;
      position: absolute;

      width: 0;
      height: 0;

      .card-body .card-title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
  }
}

.btnHomeBlog {
  padding: 0.9vw 0.7vw 0.9vw 0.7vw;
  background-color: $yellow;
  font-size: 1rem;
  text-align: center;
  color: black;
  text-decoration: none;
  margin-left: 2.5vw;
  margin-top: 1vw !important;
  margin-bottom: 1vw;
  border-radius: 0.5vw;

  @media (max-width: 575px) {
    padding: 2.2vw 1.8vw 2.2vw 1.8vw;
    font-size: 2.5vw;
    margin-bottom: 2vw;
    margin: auto;
    display: block;
    width: 50%;
  }
  @media (min-width: 2700px) {
    margin-left: 2vw;
  }
  @media (min-width: 3400px) {
    margin-left: 1.6vw;
  }
}

.subtitleBlogHome {
  color: white;
  font-size: 0.875rem;

  @media (max-width: 575px) {
    margin-top: 3vw;
    font-size: 0.875rem;
  }
}

.titleBlogHome {
  color: $yellow;
  font-size: 1.625rem;

  @media (max-width: 575px) {
    font-size: 1.625rem;
  }
}

.marginTitleBlogHome {
  margin-left: 1vw !important;
  margin-right: 1vw !important;

  padding-top: 2vw !important;
}

.pointsImageTopHomeBlog {
  width: 13%;
  margin-top: 12%;
  margin-bottom: 36.5%;
  margin-left: -2.8%;
  margin-right: 2%;
  z-index: 0;


  @media (min-width: 576px) and (max-width: 1023px) {
    margin-bottom: 33.5%;
  }
  @media (max-width: 575px) {
    margin-top: 23%;
    margin-bottom: 43%;
          height: 20px;
    width: 10%;
  }
}

.pointsImageHomeBlog {
  width: 13%;
  height: auto;
  margin-left: 2%;
  margin-right: -2.8%;
  z-index: 0;
  bottom: 0;
   @media (max-width: 575px) {
          height: 20px;
    width: 10%;
  }
}
