// Table

.table-component {
  background-color: $white;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;

  border-collapse: separate;
  border-spacing: 0px 15px;

  background-color: $grayAdmin;

  font-family: $font-poppins-regular;

  thead {
    border-bottom: 10px solid $gray;
    tr {
      background-color: white;
      border-radius: 5px !important;
      text-align: center;
    }
    th {
      border: 0px !important;
      background-color: transparent;
    }
  }
  tbody {
    tr {
      text-align: center;
      border-bottom: 1px solid $gray;
      margin: 5px;
      border-radius: 5px !important;
    }
    td {
      padding: 10px 0;
      background-color: #bdb8b8;

      .btn-small {
        margin-left: 0.5vw !important;
        margin-right: 0.5vw !important;
      }

      .marginButtonsTable {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      button {
        height: 100%;
        border-left: 2px gray;
        border-radius: 40px;
      }
    }
  }
}

.no-table-data {
  // font-family: 'Roboto Bold Italic';
  font-size: 18px;
  background-color: $white;
  border-radius: 2px;
  text-align: center;
  padding: 10px;
  color: $blue;
}

.rowBlogTitle {
  width: 10% !important;
}
.rowBlogDescription {
  width: 40% !important;
}
.rowBlogType {
  width: 20% !important;
}
.rowBlogButtons {
  width: 20% !important;
  background-color: white !important;
}

.btnColorEdit {
  background-color: black;
}

.btnColorSuspend {
  background-color: $yellow !important;
  border-width: 0 !important;
}

.btnColorError {
  background-color: white !important;
  border-width: 0 !important;
}

.btn-small {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
