.text-orange {
  color: $orange;
}

.text-black {
  color: $black;
}

.text-green {
  color: $green;
}

.text {
  &-overflow {
    &-ellipsis {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: inline !important;

      span,
      p,
      div {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline !important;
      }
    }
  }
}

.min-subtitle {
  font-size: 0.8rem;
}
