// Title

.title-component {
  background-color: transparent;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  // font-family: 'Roboto Bold';
  color: black;
  font-family: $font-poppins-regular;
  margin: 0px !important;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  position: relative;
  .title-component-right {
    position: absolute;
    right: 10px;
    display: inline-block;
    top: 8px;

    button {
      background-color: $yellow;
    }
  }
}

.page-title {
  position: absolute;
  top: 1.5rem;
  color: $black;
  z-index: 999;

  a {
    margin-right: 15px;

    img {
      font-size: 2rem;
      vertical-align: middle;
    }
  }
}

@media (max-width: 991px) {
  .page-title {
    position: fixed;
    top: 1.5rem;
    color: $black;
    right: 10%;
    padding: 0 30px;
  }
}
