.wrapper-content {
  display: flex;
  height: 100vh;

  .container-icon {
    font-size: 50px;
    width: 100px;
    height: 100px;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    border-radius: 200px;
    position: relative;
    top: -70px;
    margin: 0 auto;
    margin-bottom: -50px;
  }

  .card {
    z-index: 99;
    width: 100%;
    max-width: 330px;
    margin: 0 0 0 0;
  }
}

.background-patient {
  background-image: url("../../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.background-admin {
  background-image: url("../../img/login-left.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
}
