.btn-sex {
  background-image: url(../../img/fondo-descargas.jpg);
  background-position: center;
  background-size: cover;
  form{
    display: block!important;
    text-align: right;
    @media (max-width: 767px) { 
      text-align: center;
    }
  }
  a {
    text-align: right;
    display: block;
    @media (max-width: 767px) { 
      text-align: center;
    }
  }
  img {
    width: 8rem;
    @media (max-width: 575px) { 
      width: 5rem;
    }
  }
  h1 {
    font-family: $font-poppins-black;
    text-align: left;
    font-size: 2rem;
    color: black;
    margin: auto;
    @media (max-width: 767px) { 
      text-align: center;
    }
    @media (max-width: 575px) { 
      font-size: 1.5rem;
    }
  }
}

.bgBackground {
  .marginCarousel {
    padding-top: 3vw;
  }
}

.mapWidth {
  padding-top: 5%;
  height: 60%;
  width: 85%;
  @media (max-width: 575px) { 
    .handMap {
      r: 28;
    }
  }
}

.next-l {
  white-space: pre-line;  
  vertical-align: bottom;
  p {
    color: $yellow;
    margin-bottom: 0;
  }
}

.titleIdentity {
  margin-top: 25px !important;
  margin-bottom: 18px !important;
}

.informationMarks {
  background-color: $footer !important;
}

.informationMarks2 {
  padding-top: 25px !important;
  background-color: $gray !important;
}

.titleBrands {
  margin-bottom: 18px !important;
}

.linkWeb {
  color: #35cccf !important;
}

.canguroWorldText {
  width: 85% !important;
  height: auto;
  padding-bottom: 1% !important;

  .bor-world {
       width: 100%;
    display: flex;
    border: solid;
    padding: 0.5rem;
    margin: 1rem;
  }

  h2 {
    color: $yellow;
    font-size: 1.625rem;
    margin-top: 3.5vw;
    margin-bottom: 2vw;
//margin-left: 1vw;
}
h3 {
  font-size: 1.625rem;
  margin-bottom: 1vw;
}
p {
  font-size: 0.875rem;
  margin-bottom: 1.2vw !important;
}
.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.canguroWorldButton {
  width: 2.7vw;
  height: 2.7vw;
}

@media (max-width: 575px) {
  margin-top: 2vw !important;
  padding-bottom: 2vw !important;

  h2 {
    text-align: center;
    font-size: 1.625rem;
    margin-top: 3.5vw;
    margin-bottom: 2vw;
  }
  h3 {
    font-size: 1.625rem;
    margin-bottom: 1vw;
  }
  p {
    font-size: 0.875rem;
    margin-bottom: 1vw !important;
  }
  .canguroWorldButton {
    width: 2rem;
    height: auto;
  }
}
img {
  height: 200px;
  object-fit: cover;
}
}

.informationBG {
  background-image: url(../../img/fondoSuscribete.png);
  background-position: center;
  background-size: cover;
  input {
    @media (max-width: 767px) { 
      margin: 1px auto 15px auto !important;
    }
  }

  @media (max-width: 575px) { 
    .col-3 {
      max-width: 100%;
    }
    .btn-block {
      margin: auto;
      display: block;
      width: auto;
    }
  }
}

.informationPadding {
  margin-left: 10%;
  overflow-x: hidden;
  padding-bottom: 2%;
  @media (max-width: 575px) { 
    margin-left: 0;
  }

  h3 {
    color: $yellow;
    font-size: 1.625rem;
    margin-bottom: 1.2%;
    padding-top: 2%;
    @media (max-width: 767px) { 
      text-align: center;
    }
  }

  p {
    font-size: 1.5vw;
    margin-bottom: 2.4%;
    margin-top: 1.2%;
    opacity: 0.9;
    @media (max-width: 767px) { 
      text-align: center;
    }
    @media (max-width: 1920px) { 
      font-size: 1vw;
    }
  }

  Input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.5vw;
    color: rgb(97, 96, 96);
    width: 90%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ddd;
    border: none;
    padding: 1.8% !important;
    box-shadow: none;
    outline: none;
    margin: 0;
    box-sizing: border-box;
    border-radius: 1vw;
    padding-left: 1.5%;
    @media (max-width: 1920px) { 
      font-size: 1vw;
    }
  }

  Button {
    background-color: $yellow !important;
    color: $background !important;
    margin-top: 3%;
    font-size: 1.5vw;
    border-radius: 1rem;
    margin-bottom: 2%;
    margin-top: 2%;
    padding-bottom: 0.4vw;
    padding-top: 0.4vw;

    @media (min-width: 756px) and (max-width: 1600px) {
      border-radius: 0.8vw;
      margin-top: 2.5%;
    }
    @media (max-width: 1920px) { 
      font-size: 1vw;
    }
  }

  @media (max-width: 575px) {
    h3 {
      font-size: 1.3rem;
      margin-bottom: 2.5vw !important;
      margin-top: 2.5vw !important;
    }
    p {
      font-size: 0.9rem;
      margin-bottom: 2.5vw !important;
    }

    Input {
      font-size: 2.5vw;
      width: 55vw;
      padding: 1vw !important;

      border-radius: 1vw;
      padding-left: 2vw !important;
    }

    Button {
      font-size: 1rem;
    }
  }
}

.cvPadding {
  padding-left: 10vw;
  background-color: $background;
  margin: 0;
  padding: 0;
  padding-bottom: 4vw;
  background-image: url(../../img/fondoCV.jpg);
  background-position: center;
  background-size: cover;

  .form-group {
    margin-bottom: 0;
  }

  h3 {
    color: $yellow;

    font-size: 26px;
    margin-bottom: 2vw;
    padding-top: 2vw;
  }

  p {
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 2vw;
    padding-top: 1.5vw;
  }

  .marginFileCV {
    margin: auto;
    margin-top: 1.4vw;
  }

  .upload {
    display: block;
    position: relative;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    padding-left: 3.4vw;
    width: 35vw;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    color: #666;
    border: solid 1px #ccc;
    border-radius: 1.5rem;
    background-color: #fefefe;

    @media (min-width: 1920px) { 
      width: 30vw;
      font-size: 1vw;
      padding-top: 0.5vw;
      padding-bottom: 0.5vw;
    }

    @media (min-width: 756px) and (max-width: 1600px) {
      border-radius: 0.8vw;
    }

    font-size: 1rem;

    &::before {
      content: url(../../icons/clip.svg);
      height: 100%;
      width: 1.8vw;

      left: 0;
      margin-left: 1.4vw;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      position: absolute;
      opacity: 0.8;
      text-align: center;
      line-height: 1vw;
      @media (min-width: 1920px) { 
        padding-top: 0.1rem;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
    }

    [type="file"] {
      width: 100%;
      padding: 9px;
      box-sizing: border-box;

      &::-webkit-file-upload-button {
        -webkit-appearance: none;
        width: 0;
        height: 0;
        padding: 0;
        border: 0;
      }
    }
  }

  .buttonCV {
    background-color: $yellow !important;
    color: $background !important;
    margin-top: 3vw;
    font-size: 1rem;
    width: auto;
    margin: 15px auto auto;
    border-radius: 1rem;
    padding-bottom: 0.4vw;
    padding-top: 0.4vw;
    @media (min-width: 1920px) { 
      width: 50%;
      margin: 15px auto auto;
      font-size: 1vw;
    }

    @media (min-width: 756px) and (max-width: 1600px) {
      border-radius: 0.8vw;

      margin-top: 2.5vw;
    }
  }

  @media (max-width: 575px) {
    h3 {
      color: $yellow;
      font-size: 1.3rem;
      margin-bottom: 2vw;
      padding-top: 2vw;
    }

    p {
      font-size: 0.9rem;
      opacity: 0.9;
      margin-bottom: 2vw;
      padding-top: 1.5vw;
    }

    .upload {
      padding-left: 6vw;
      font-size: 2.5vw;
      width: 75vw;

      &::before {
        width: 4.2vw;
        margin-left: 0.6rem;
        padding-top: 0.5rem;
        line-height: 1vw;
      }
    }

    .buttonCV {
      font-size: 1rem;
      width: auto;
    }
  }
}

.fontMap {
  font-size: 0.6rem;
  cursor: pointer;
}

.handMap {
  cursor: pointer;
}

.modalMap {
  opacity: 0.9;
}

.modal-footer {
  .modalButton {
    background-color: $yellow;
    color: $black-real !important;
    border: solid 1px $yellow !important;
    &:hover {
      background-color: $black-real;
      color: $yellow !important;
    }
    &:active {
      background-color: $black-real !important;
    }
  }
}

@media (min-width: 2500px) {
  .marginMarks {
    margin-bottom: 0vw;
  }

  .carouselContainerMarks {
    padding-bottom: 7vw;
  }
}

@media (min-width: 2000px) and (max-width: 2500px) {
  .marginMarks {
    margin-bottom: 2.3vw;
  }

  .carouselContainerMarks {
    padding-bottom: 4.6vw;
  }
}

@media (min-width: 1500px) and (max-width: 2000px) {
  .marginMarks {
    margin-bottom: 0vw;
  }

  .carouselContainerMarks {
    padding-bottom: 6vw;
  }
}

@media (min-width: 1024px) and (max-width: 1500px) {
  .marginCarouselItemsMarks {
    margin-bottom: 0;
    margin-left: 0vw;
    margin-right: 0vw;
  }

  .marginMarks {
    margin-bottom: 0vw;
  }

  .carouselContainerMarks {
    padding-bottom: 5vw;
  }
}

@media (max-width: 1024px) {
  .marginMarks {
    margin-bottom: 0vw;
  }

  .carouselContainerMarks {
    padding-bottom: 6.5vw;
  }
}

@media (max-width: 575px) {
  .marginMarks {
    margin-bottom: 0vw;
  }

  .carouselContainerMarks {
    padding-bottom: 10vw;
  }
}

.identity {
  padding: 4rem 0 !important;

  h3 {
    font-size: 1.625rem;
  }

  p {
    font-size: calc(0.875rem + 0.02vw);;
    margin: 0;
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  span {
    font-size: calc(1.625rem + 0.10vw);
  }

  @media (max-width: 575px) {
    h3 {
      font-size: 4vw;
//font-size: calc(6px + 2vw);
}

p {
//font-size: 1.5vw !important;
font-size: calc(6px + 1.3vw);
}

span {
  font-size: calc(6px + 1.4vw);
}
}
}

.iden-x  {
  .img-hover-text {
    width: 70%;
    margin: auto;
    position: relative;
    margin-bottom: 5rem;
  }

  .img-hover-text img {
    width: 100%;
    transition: 0.5s;
  }

  .img-hover-text figcaption {
    position: absolute;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    opacity: 0;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    padding: 0 12px;
    @media screen and (max-width: 991px) and (min-width: 767px) {
      bottom: 0%;
    }

    @media (max-width: 375px) {
      bottom: 12%;
    }
  }

  figcaption {

    h5 {
      border-bottom: solid 1px $yellow;
      line-height: 1;
      margin: 0 1rem;
    }

    p {
      margin: 0.8rem 0 0 0;
      color: #fff;
      height: 168px;
      opacity: 1;
      margin-bottom: 1rem;
      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 1.5;
      max-height: 168px;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      @media (max-width: 440px) {
        height: 138px;
      }
      @media (max-width: 375px) {
        height: 130px;
      }
    }

  }
  .img-hover-text:hover figcaption {
    opacity: 1;
  }

  .img-hover-text:hover img {
    filter: brightness(45%);
  }
}



.efect-ix {

  figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    max-height: 450px;
    width: 100%;
    text-align: center;
    cursor: pointer;
     @media screen and (max-width: 1100px) and (min-width: 950px) {
        max-height: 344px;
      }
      @media screen and (max-width: 949px) and (min-width: 767px) {
        max-height: 278px;
      }
       @media screen and (max-width: 767px) and (min-width: 575px) {
        max-height: 185px;
      }
        @media screen and (max-width: 574px) and (min-width: 500px) {
        max-height: 300px;
      }
        @media screen and (max-width: 500px) and (min-width: 370px) {
        max-height: 195px;
      }
        @media screen and (max-width: 370px) and (min-width: 244px) {
        max-height: 112px;
      }
  }


  figure.effect-layla {
    background: #ffe44f;
  }

  figure.effect-layla img {
    height: auto;
  }

  figure.effect-layla figcaption {
    padding: 3em;
  }

  figure.effect-layla figcaption::before,
  figure.effect-layla figcaption::after {
    position: absolute;
    content: '';
    opacity: 0;
  }

  figure.effect-layla figcaption::before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  figure.effect-layla figcaption::after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }

  figure.effect-layla img {
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
  }

  figure.effect-layla img,
  figure.effect-layla figcaption::before,
  figure.effect-layla figcaption::after
  {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
  }

  figure.effect-layla:hover img {
    opacity: 0.7;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  figure.effect-layla:hover figcaption::before,
  figure.effect-layla:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  figure.effect-layla:hover figcaption::after,
  figure.effect-layla:hover img {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
}