// Login

.backgroundColor {
  width: 100vw;
  height: 100vh;

  background-color: $footer;
}

.login-background {
  width: 100vw;
  height: 30vw;
  background-image: url("../../img/fondo-login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.imgLogin {
  width: 225px !important;
}

.cardLogin {
  border-radius: 2vw;
  max-width: 480px !important;

  .form-control {
    height: 100% !important;
  }
}

.buttonLogin {
  background-color: $yellow;
  color: black;
  width: 200px;
  margin: auto;
}

.registerButton {
  color: gray !important;
}

.missedButton {
  color: #428dd8 !important;
}

.marginLogin {
  margin-top: 1.2vw !important;
}
