.imageProduct {
    //width: 10.5vw;
    //height: 12vw;

    width: 14vw;
    height: 17vw;

    max-width: 130px;
    min-width: 40px;
    max-height: 160px;
    min-height: 30px;

    position: absolute;
}
