// Queue

.slide-show {
  animation: moveSlideshow 12s linear infinite;
}

@keyframes moveSlideshow {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-105%);
  }
}

.slide-only {
  animation: moveSlideonly 12s linear infinite;
}

@keyframes moveSlideonly {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-60%);
  }
}

.drl-title {
  padding-left: 20%;
  font-size: 70px;
  font-family: $font-family-heavy;
  color: $orange !important;
  padding-bottom: 0 !important;
}

.shadow-drl {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3) !important;
}

.drlwrapper-content {
  display: flex;
  height: calc(100vh - 127.38px);
}

.wrapper-drl {
  max-width: 750px;
  max-height: 450px;

  @media (min-width: 768px) {
    .card.wrapper-register {
      max-height: none;
      overflow: hidden;
    }
  }
}

.queue {
  height: 35px;
  background: $orange;
  width: 40px;
  border-radius: 70%;
  margin: auto;
  color: white;
  font-size: 25px;
  font-family: $font-family-black;
  position: absolute;
  left: 18px;
  bottom: -5px;
}

.queue-number {
  color: black;
  font-family: $font-family-bold, "monospace";
  font-size: 40px;
  line-height: 22px;
  float: left;
  margin-left: 15px;
}

.queue-name {
  color: $orange;
  font-size: 18px;
}

.wrapper-drlist {
  max-width: 750px;
  max-height: 580px;
  z-index: 100;
  box-shadow: none !important;
  transform: translate3d(0, 0, 0);

  > div {
    height: 450px;
    overflow: auto;
    overflow-y: hidden;

    @media (max-width: 1366px) {
      height: 240px;
    }
  }

  @media (min-width: 768px) {
    .card.wrapper-register {
      max-height: none;
      overflow: hidden;
    }
  }
}

.drl-input {
  width: 100%;
  background: $gray;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  padding-top: 8px;
  color: $orange;
  font-size: 90px;
  font-family: $font-family-black;
}

.drl-align {
  padding-top: 20vh;

  @media (max-width: 1366px) {
    padding-top: 11vh;
  }
}

.drl-wrapper {
  &-left {
    position: absolute;
    z-index: 101;
    width: 100vw;
    height: 100vh;
    background-image: url("../../img/drlugo.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
  }

  @media (min-width: 576px) {
    &-left {
      background-size: contain;
      display: block;
    }
  }
}

.drl-background {
  width: 100vw;
  height: calc(100vh - 127.38px);
  background: #f2692a;

  &-footer {
    z-index: 98;
    position: absolute;
    width: 100vw;
    height: 55vh;
    bottom: 0;
    background-image: url("../../img/drl-footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
  }
}

.footer-queue {
  display: flex;
  width: 100%;
  position: absolute;
  background: $black-medium;
  bottom: 0;
  z-index: 100;
  color: $white;
  height: 4rem;
  font-size: 22px;
  align-items: center;

  .hour {
    display: flex;
    justify-content: center;
    align-items: center;

    small {
      margin-top: 4px;
      font-size: 10px;
    }
  }

  .date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }

  .spacing {
    font-size: 15px;
    width: 85%;
  }
}

@media (max-width: 576px) {
  .drl-title {
    padding-left: 5%;
    font-size: 36px;
  }
}
