.usImage {
  width: 45vw;
    @media screen and (max-width: 574px) and (min-width: 180px) {
        width: 100%;
      }
}

.usTitleCarousel {
  color: $yellow;

  @media (max-width: 575px) {
    font-size: 4vw;
    padding-top: 1rem;
  }

  @media (min-width: 576px) {
    font-size: 1rem;
    padding-top: 1rem;
  }

  @media (min-width: 750px) and (max-width: 1800px) {
    font-size: 2.4rem;
    padding-top: 2rem;
  }

  @media (min-width: 1800px) and (max-width: 4000px) {
    font-size: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  @media (min-width: 4000px) and (max-width: 5000px) {
    font-size: 8rem;
    padding-top: 8rem;
    padding-bottom: 6rem;
  }

  @media (min-width: 5000px) and (max-width: 6000px) {
    font-size: 10rem;
    padding-top: 10rem;
    padding-bottom: 7.5rem;
  }

  @media (min-width: 6000px) {
    font-size: 12rem;
    padding-top: 12rem;
    padding-bottom: 9rem;
  }
}

.usBackground {
  margin: 0;
  padding-bottom: 5vw;
  padding-top: 5vw;
  background-color: $background !important;
  height: 100%;
  .res-x {
    font-size: 0.875rem;
  }
  @media (max-width: 575px) {
    a {
      text-align: center;
      margin: auto;
      display: block;
    }
    .res-x {
      text-align: center;
      margin-top: 0.5rem;
    }
  }
}

.usTitleArea {
  color: $yellow;
  font-size: 1.625rem;
  @media (min-width: 1920px) {
    font-size: 2.5rem;
  }
}

.usSubtitle {
  font-size: 1.5vw;
}

.usDescription {
  font-size: calc(0.875rem + 0.02vw);
  margin-bottom: 2vw;
  opacity: 0.7;
  line-height: 1.9;
  font-weight: 100;
  @media (max-width: 1920px) {
    line-height: 2.1;
  }
}

.usButton {
  background-color: $yellow;
  color: black;
  text-decoration: none;
  font-size: 14px;
  border-radius: 0.5vw;
  padding: 0.5vw 1vw 0.5vw 1vw;
  border-color: $yellow;
  border: solid 1.5px $yellow;

  //margin-left: 0% !important;

  &:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }
  &:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }
}
.us-b {
  .usButton {
    background-color: #ffe44f;
    color: black;
    text-decoration: none;
    font-size: 14px;
    border-radius: 0.5vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
    margin: auto;
    display: block;
    width: 20%;
    text-align: center;
    margin-top: 25px;
  }
}
.arrowButtonUs {
  width: 1.2vw;
  height: auto;
  margin: auto;
}

@media (max-width: 575px) {
  .usZoneImage {
    text-align: center;
  }

  .usSubtitle {
    margin-top: 1vw !important;
    font-size: 2vw;
    text-align: center;
  }

  .usTitleArea {
    text-align: center;
    text-shadow: 0 0 2px black;
    margin: 1rem 0;
  }

  .usDescription {
    // font-size: 12px;
    margin-bottom: 3vw !important;
    text-align: center !important;
  }

  .usButton {
    font-size: 12px;
    border-radius: 0.8vw;
    padding: 1vw 2vw 1vw 2vw;
  }

  .arrowButtonUs {
    width: 2.5vw;
  }

  .pointsImageTopUs {
    margin-top: 3vw;
    margin-bottom: 22.5vw !important;
    margin-left: -2.8vw;
    margin-right: 2vw;
  }
}

.usIcons {
  background-color: $gray !important;
}

.usPoints {
  width: 20%;
}

.cardMV {
  position: relative;
  height: 20vw;
  overflow: hidden;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 1.5vw;
  border: 0;
  transition: all 0.3s;

  .usDescriptionMV {
    background-color: transparent !important;
  }

  &:hover {
    .cardButton {
      background-color: black !important;
      transform: translateY(6vw);
      color: white !important;
      transition: all 0.8s;
    }
  }

  -webkit-box-shadow: inset 0px -3.5vw 50px 12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -3.5vw 50px 12px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -3.5vw 50px 12px rgba(0, 0, 0, 0.75);

  @media (max-width: 575px) {
    margin-top: 5% !important;
    margin-bottom: 5% !important;

    height: 38vw;

    &:hover {
      .cardButton {
        transform: translateY(5vw) !important;
      }
    }
  }
}

.cardButton {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 28vw;
  background-color: transparent !important;
  opacity: 0.8;
  box-sizing: border-box;
  padding: 3vw 5vw;
  text-align: center;
  font-size: 1.5vw;
  transform: translateY(20vw);
  transition: all 0.5s;
  text-shadow: 1px 1px black;

  @media (max-width: 575px) {
    height: 42vw !important;
    transform: translateY(30vw) !important;

    h2 {
      font-size: 5vw !important;
      margin-top: 4.5vw !important;
      margin-bottom: 4vw !important;
    }
    p {
      font-size: 2.5vw !important;
    }
  }

  h2 {
    border-bottom: 1px solid $yellow !important;
    font-size: #{"max(3vw, 20px)"};

    margin-bottom: 1.6vw;
  }

  @media (max-width: 1100px) {
    height: 26vw;
  }

  @media (min-width: 1100px) and (max-width: 3500px) {
    height: 27vw;
  }

  @media (min-width: 3500px) and (max-width: 5000px) {
    height: 28vw;
  }

  @media (min-width: 4999px) and (max-width: 6000px) {
    height: 27.5vw;
  }

  @media (min-width: 6000px) {
    height: 27vw;
  }
}

.descriptionMision {
  margin-bottom: 100px;
  font-size: 14px;
  @media (max-width: 575px) {
    font-size: 12px;
  }
}

.titleAccordion {
  margin-bottom: 2vw;
}

.paddingMV {
  padding-top: 3vw;
}

.zoneMV {
  height: 80%;
}

.pointsImageTop {
  width: 10vw;
  height: 50px;
  margin-top: -3vw;
  margin-bottom: 9vw;
  margin-left: 2vw;
  margin-right: 2vw;
  z-index: 0;
  object-fit: contain;

  @media (max-width: 575px) {
    margin-bottom: 80vw !important;
    margin-top: 0vw;
  }
  @media (max-width: 1920px) {
    margin-top: 0vw;
  }
}

.pointsImage {
  width: 10vw;
  height: 50px;
  margin-left: 2vw;
  margin-right: 2vw;
  z-index: 0;
  object-fit: contain;
  @media (max-width: 1920px) {
    margin-top: -2vw;
  }
}

.iconsHome {
  margin-top: 0.8vw;
  margin-bottom: 0.8vw;
  width: 5vw;
}

.pointsImageTopUs {
  width: 13%;
  margin-top: 3%;
  //margin-bottom: calc(110px + 18.5vw);
  margin-bottom: 27%;
  margin-left: -2.8%;
  margin-right: 2%;
  z-index: 0;

    @media (max-width: 575px) {
    height: 20px;
    width: 10%;
  }

}

.pointsImageUs {
  width: 13%;
  height: auto;
  margin-left: 2%;
  margin-right: -2.8%;
  z-index: 0;
  bottom: 0;
   @media (max-width: 575px) {
        height: 20px;
    width: 10%;
  }
}

.zoneMVCreate {
  .upload {
    display: block;
    position: relative;
    padding-top: 0.3vw;
    padding-bottom: 0.2vw;
    padding-left: 3vw;
    width: 100%;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    color: #666;
    border: solid 1px #ccc;
    border-radius: 1.5rem;
    background-color: #fefefe;

    @media (min-width: 756px) and (max-width: 1600px) {
      border-radius: 0.8vw;
    }

    font-size: 1.2vw;
    font-family: $font-poppins-regular;

    &::before {
      content: url(../../icons/clip.svg);
      height: 100%;
      width: 1.2vw;

      left: 0;
      margin-left: 1.4vw;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      position: absolute;
      opacity: 0.8;
      text-align: center;
      line-height: 1vw;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
    }

    [type="file"] {
      width: 100%;
      padding: 3px;
      box-sizing: border-box;

      &::-webkit-file-upload-button {
        -webkit-appearance: none;
        width: 0;
        height: 0;
        padding: 0;
        border: 0;
      }
    }
  }
}

.text-black-important {
  color: black !important;
}

.bgAdmin {
  background-color: $grayAdmin !important;
  .o-x {
    p {
      margin: 0.8rem 0 0 0;
      height: 168px;
      opacity: 1;
      margin-bottom: 1rem;
      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 1.5;
      max-height: 168px;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
    }
  }
}
