.marginVenues {
    margin-top: 5.53rem;
}

.imageTextVenues {
    padding: 4.5vw 1.5vw;
    font-size: #{"max(1.2vw, 12px)"};
}

.imageVenues {
    //width: 10.5vw;
    //height: 12vw;

    width: 14vw;
    height: 17vw;

    max-width: 130px;
    min-width: 40px;
    max-height: 160px;
    min-height: 30px;

    position: absolute;
}

.titleVenue {
    font-size: #{"max(3vw, 12px)"};
    text-align: center;
    margin-bottom: 4vw;
}

.fontVenue {
    font-size: #{"max(1.2vw, 12px)"};
}

.textVenue {
    font-size: #{"max(1.2vw, 12px)"};
}